.detection-section {
  padding: 96px 0;
}

@media screen and (max-width: 768px) {
  .detection-section {
    padding: 64px 0;
  }
}

.detection-title {
  font-family: "Switzer", sans-serif;
  font-weight: 300;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto;
  max-width: 605px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .detection-title {
    font-size: 48px;
    max-width: 328px;
    margin-bottom: 24px;
  }
}

.detection-mark {
  font-family: "Taviraj", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .detection-mark {
    font-size: 48px;
    font-weight: 275;
  }
}
.detection-description {
  font-family: "Switzer", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto;
  max-width: 805px;
  margin-bottom: 40px;
  color: #525757;
}

@media screen and (max-width: 768px) {
  .detection-description {
    max-width: 361px;
    margin-bottom: 24px;
  }
}
.detection-mark2 {
  font-family: "Switzer", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
}
.detection-list-text {
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.detection-item-text {
  display: flex;
  gap: 9px;
  padding: 11px 22px;
  background-color: #fef9ef;
  font-family: "Taviraj", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
  width: fit-content;
  border-radius: 90px;
}
@media screen and (max-width: 768px) {
  .detection-item-text {
    padding: 11px 18px;
  }
}

.detection-button {
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .detection-button {
    margin-bottom: 24px;
  }
}

.detection-list-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .detection-list-img {
    gap: 24px;
  }
}

.detection-img {
  width: 390px;
  height: 390px;
}
@media screen and (max-width: 768px) {
  .detection-img {
    width: 342px;
    height: 342px;
  }
}
