.hero-section {
  background-image: url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding-top: 212px;
  padding-bottom: 140px;
  /* padding: 212px 64px 140px 64px; */
}

@media screen and (max-width: 1200px) {
  .hero-section {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.hero-general-div {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .hero-general-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
  }
}

.hero-description-div {
  flex-grow: 1;
  max-width: 603px;
}

@media screen and (max-width: 1200px) {
  .hero-description-div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero-description-1 {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #fffcf9;
  background-color: #007e7e66;
  padding: 12px;
  max-width: 239px;
  border-radius: 4px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .hero-description-1 {
    margin-bottom: 24px;
  }
}

.hero-title {
  font-family: Switzer;
  font-weight: 300;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0;
  max-width: 557px;
  color: #fef9ef;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .hero-title {
    font-family: "Switzer", sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
  }
}
.hero-title-mark {
  font-family: "Taviraj", serif;
  font-weight: 275;
  font-style: italic;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 0;
}

@media screen and (max-width: 1200px) {
  .hero-title-mark {
    font-size: 51px;
    line-height: 1;
    text-align: center;
    color: #e9fe53;
  }
}

.hero-description-2 {
  font-family: "Switzer", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
  color: #ffffff;
  margin-bottom: 24px;
  max-width: 557px;
}

@media screen and (max-width: 1200px) {
  .hero-description-2 {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .hero-description-2 {
    max-width: 339px;
    font-size: 20px;
  }
}

.hero-button {
  display: flex;
  gap: 8px;

  background-color: #e9fe53;
  color: #15190d;
  border-radius: 40px;
  padding: 18px 24px;
  font-family: "Switzer", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #e9fe53;
}

@media screen and (max-width: 1200px) {
  .hero-button {
    justify-content: center;
  }
}

.hero-img-div {
  position: relative;
  flex-grow: 1;
}

@media screen and (max-width: 1200px) {
  .hero-img-div {
    position: relative;
    width: 100%;
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .hero-img-div {
    min-height: 340px;
  }
}
/* .hero-img {
  max-width: 100%;
  height: auto;
}
.hero-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-img {
  position: relative;
  transform: none;
} */
.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-44%, -53%);
  width: 558px;
  height: 558px;
}

@media screen and (max-width: 1200px) {
  .hero-img {
    transform: translate(-50%, -46%);
  }
}

@media screen and (max-width: 768px) {
  .hero-img {
    width: 309px;
    height: 309px;
    transform: translate(-50%, -46%);
  }
}
.hero-img-lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -55%);
  width: 631px;
  height: 771px;
  /* transform: translate(-50%, -50%); */
}

@media screen and (max-width: 1200px) {
  .hero-img-lines {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

@media screen and (max-width: 768px) {
  .hero-img-lines {
    width: 350px;
    height: 400px;
  }
}
.hero-img {
  width: clamp(280px, 35vw, 558px);
  height: auto;
}

.hero-img-lines {
  width: clamp(320px, 40vw, 631px);
  height: auto;
}
