.hero-section {
  background-image: url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding-top: 202px;
  padding-bottom: 115px;
}

@media screen and (max-width: 1200px) {
  .hero-section {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.hero-general-div {
  display: flex;
  gap: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero-general-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-general-div {
    flex-wrap: wrap;
    gap: 96px;
  }
}

.hero-description-div {
  flex-grow: 1;
  max-width: 603px;
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .hero-description-div {
    max-width: 480px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-description-div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero-description-1 {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #fffcf9;
  background-color: #007e7e66;
  padding: 12px;
  max-width: 239px;
  border-radius: 4px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .hero-description-1 {
    margin-bottom: 24px;
  }
}

.hero-title {
  font-family: "Switzer", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0;
  max-width: 557px;
  color: #fef9ef;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .hero-title {
    font-family: "Switzer", sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    color: #fef9ef;
  }
}
.hero-title-mark {
  font-family: "Taviraj", sans-serif;
  font-weight: 275;
  font-style: italic;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 0;
  color: #e9fe53;
}

@media screen and (max-width: 1200px) {
  .hero-title-mark {
    font-size: 51px;
    line-height: 1;
    text-align: center;
  }
}

.hero-description-2 {
  font-family: "Switzer", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
  color: #ffffff;
  margin-bottom: 24px;
  max-width: 557px;
}

@media screen and (max-width: 1200px) {
  .hero-description-2 {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .hero-description-2 {
    max-width: 339px;
    font-size: 20px;
    text-align: center;
  }
}

.hero-button {
  display: flex;
  gap: 8px;
  background-color: #e9fe53;
  color: #15190d;
  border-radius: 40px;
  padding: 18px 24px;
  font-family: "Switzer", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #e9fe53;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #f2eae3;
  border: 1px solid black;
}

@media screen and (max-width: 1200px) {
  .hero-button {
    justify-content: center;
  }
}

.hero-img-div {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .hero-img-div {
    position: relative;
    width: 100%;
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .hero-img-div {
    min-height: 340px;
  }
}

.hero-img {
  width: 100%;
  max-width: 558px;
  height: auto;
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .hero-img {
    width: 490px;
    height: 490px;
  }
}

@media screen and (max-width: 768px) {
  .hero-img {
    width: 309px;
    height: 309px;
  }
}
.hero-img-lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
  width: 631px;
  height: 771px;
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .hero-img-lines {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 692px;
  }
}

@media screen and (max-width: 768px) {
  .hero-img-lines {
    width: 350px;
    height: 440px;
    transform: translate(-50%, -53%);
  }
}
