@import url("./header.css");
@import url("./hero.css");
@import url("./detection.css");
@import url("./quick-test.css");
@import url("./analisis.css");
@import url("./advantages.css");
@import url("./questions.css");
@import url("./footer.css");
@import url("./price.css");

body {
  font-family: "Inter", sans-serif;
  color: var(--c-contact);
  background: linear-gradient(to bottom, #dfd8d1, #f2eae3);
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  cursor: pointer;
}

mark {
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
}
.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 364px;
    padding: 0 32px;
  }
}
